extends layout

block content
  h1= title
  p Welcome to #{title}

  <canvas id="canvas"></canvas>

  //- script(src="javascripts/socket.io.js")
  script(src="http://localhost:8080/socket.io/socket.io.js")
  script(src="javascript/jquery-3.2.1.slim.min.js")
  script(src="javascripts/imageManip.js")

